<div class="container">
	<footer>
		<small>
			Copyright &copy; <p>Golubie Software Solutions</p>
			by <p>Nikola Golubovic</p>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>
